*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
   
}

/* NAVBAR */
#navbar{
    height: 5vh;
  cursor: pointer;
    padding-left: 1vw;
    padding-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(131, 66, 235, 0.959);
}

#nav-menu{
    display: flex;
    gap: clamp(1vw,2vw,3vw)
}
      #icon{
      display: none;
      }

/*responsive-navbar*/

 #Responsive-navbar{
    display: none;
    height: 100vh;
    width: 18vw;
    background-color: rgba(10, 10, 10, 0.397);
    backdrop-filter: blur(10);
    position: relative;
    top: 0;
    left: 0;
 }
 
 
 
 #nav-menu-2{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    gap: 2vh;
    align-items: center;
 }

 /*page1*/

  #page1{
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
  }

  #text{
    margin-top:18vh;
  }

  #text span #star {
    color: red;
  }
  

  #text span{
    color: rgb(26, 234, 241);
    font-size: 8vh;
  }

  /*page-2*/

  #page2{
    position: relative;
    width: 100%;
    height: 100vh;
   
  }

  #top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
   background-color: rgba(131, 66, 235, 0.959);
    overflow: hidden;
  }

  #center{
    width: 100%;
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(9, 238, 200, 0.87);
   gap: 4vw;
  }

  #bottom{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50vh;
    background-color: rgba(131, 66, 235, 0.959);
    overflow: hidden;
  }

  #page2 h1{
    font-size: 20vw;
    color: black;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #top-h{
   bottom: 50%;
  }

  #bottom-h{
    top: 0% !important;
   }

   #box1{
    width: 16vw;
    height: 40vh;
    border: 2px solid black;
    border-radius: 22px;
    background-color: #000000;
   }

   #box1 img{
    height: 16vh;
    width: 16vw;
   }

   #box1 h2{
    margin-top: 10vh;
    font-size: 3vh;
    padding-left: 2vw;
   }

   #box1 h4{
    margin-top: 2vh;
    font-size: 3vh;
    padding-left: 2vw;
   }


/*responsive code*/
 @media screen and (min-width:300px) and (max-width:799px) {
    #nav-menu{
        display: none;     
    }

    #nav-menu-2 h1{ 
        font-size: 3vh;  
    }

    #Responsive-navbar{
        width: 100%;
        height: 100vh;
    }

    #navbar h1{
        font-size: 3vh;
    }

   #navbar #icon{
        display: flex;
        font-size: 3vh;
        }

   #logo-res{
        width: 100%;
        display: flex;
        justify-content: space-between;      
       }

        #logo-res h1,#icon-2{ 
            margin-top: 1vh; 
            font-size: 3vh;  
         }

         /*page1*/

         #page1{
          width: 100%;
          height: 32vh;
        }
        #page1 img{
          width:50vw;
          height:auto ;
        }

        #text{
          margin-top:9vh;
          padding-left: 2vw;
        }
      
        #text span{
          font-size: 2vh;
          flex-wrap:wrap;
        }
        
        #text h2,h3{
          font-size: 1.5vh;
          flex-wrap: nowrap;
        }

        #page2 h1{
          top: 89%;
          left: 50%; 
        }

        #center {
          display: flex;
          flex-direction: column; 
          align-items: center;    
        }
      
        #box1{
          width: 68%; 
          height:auto ; 
          margin-bottom: 2vh; 
        }
      
        #center img {
        height: 14vh;
        width: 20vw;
       margin-left: 20vw;
         
        }
      
        #center h2, #center h4 {
          font-size: 2vh;
          text-align: center;
        }
 
       
     
 }